# I) Data collection

## i) Importing Necessary Python Libraries

In [3]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

## ii) Importing Data

In [5]:
Data = pd.read_excel('Ecommerce_Sales_Prediction_Dataset.xlsx')
Data

,Date,Product_Category,Price,Discount,Customer_Segment,Marketing_Spend,Units_Sold
0,2023-01-01 00:00:00,Sports,932.80,35.82,Occasional,6780.38,32
1,2023-02-01 00:00:00,Toys,569.48,3.60,Premium,6807.56,16
2,2023-03-01 00:00:00,Home Decor,699.68,3.56,Premium,3793.91,27
3,2023-04-01 00:00:00,Toys,923.27,0.61,Premium,9422.75,29
4,2023-05-01 00:00:00,Toys,710.17,47.83,Premium,1756.83,17
...,...,...,...,...,...,...,...
995,22-09-2025,Fashion,740.06,49.06,Regular,1890.83,34
996,23-09-2025,Electronics,517.10,28.48,Premium,8011.66,21
997,24-09-2025,Electronics,683.43,12.98,Occasional,3408.51,19
998,25-09-2025,Sports,51.26,21.85,Occasional,7335.62,26
999,26-09-2025,Home Decor,93.94,29.68,Regular,4258.11,39

# II- Data Cleaning

## i) Check Missing Values

In [8]:
missing_values = Data.isnull().sum()
missing_values

Date                0
Product_Category    0
Price               0
Discount            0
Customer_Segment    0
Marketing_Spend     0
Units_Sold          0
dtype: int64

*==> There is no missing value*

## ii) Duplicated Data

In [11]:
Dup_Data= Data.duplicated().sum()
Dup_Data

0

*==> There is no Duplicated Data*

## iii) Data Types

* Data types Detection

In [15]:
Types_Data = Data.dtypes
Types_Data

Date                 object
Product_Category     object
Price               float64
Discount            float64
Customer_Segment     object
Marketing_Spend     float64
Units_Sold            int64
dtype: object

*==> The 'date' variable should be of the date data type*

* Data types Modification

In [18]:
Data['Date'] = pd.to_datetime(Data['Date'], errors='coerce')
Data.dtypes

Date                datetime64[ns]
Product_Category            object
Price                      float64
Discount                   float64
Customer_Segment            object
Marketing_Spend            float64
Units_Sold                   int64
dtype: object

# III) Data Analysis

## i) Sales and Revenue Analysis

### 1) Units Sold

In [192]:
Units_Sold_per_Customer_Segment = Data.groupby('Customer_Segment')['Units_Sold'].sum().reset_index()
Units_Sold_per_Customer_Segment.sort_values(by=['Units_Sold'], ascending=False)

  Customer_Segment  Units_Sold
2          Regular       10222
0       Occasional        9842
1          Premium        9567

In [194]:
Units_Sold_per_Product_Category = Data.groupby('Product_Category')['Units_Sold'].sum().reset_index()
Units_Sold_per_Product_Category.sort_values(by=['Units_Sold'], ascending=False)

  Product_Category  Units_Sold
0      Electronics        6210
3           Sports        6125
4             Toys        6003
1          Fashion        5650
2       Home Decor        5643

#### Total Units Sold is :

In [196]:
Total_Units_Sold= Data['Units_Sold'].sum()
Total_Units_Sold

29631

### 2) Revenue

In [22]:
Data['Revenue']= Data.Price * Data.Units_Sold
Data

,Date,Product_Category,Price,Discount,Customer_Segment,Marketing_Spend,Units_Sold,Revenue
0,2023-01-01,Sports,932.80,35.82,Occasional,6780.38,32,29849.60
1,2023-02-01,Toys,569.48,3.60,Premium,6807.56,16,9111.68
2,2023-03-01,Home Decor,699.68,3.56,Premium,3793.91,27,18891.36
3,2023-04-01,Toys,923.27,0.61,Premium,9422.75,29,26774.83
4,2023-05-01,Toys,710.17,47.83,Premium,1756.83,17,12072.89
...,...,...,...,...,...,...,...,...
995,2025-09-22,Fashion,740.06,49.06,Regular,1890.83,34,25162.04
996,2025-09-23,Electronics,517.10,28.48,Premium,8011.66,21,10859.10
997,2025-09-24,Electronics,683.43,12.98,Occasional,3408.51,19,12985.17
998,2025-09-25,Sports,51.26,21.85,Occasional,7335.62,26,1332.76
999,2025-09-26,Home Decor,93.94,29.68,Regular,4258.11,39,3663.66

#### Total Revenue is :

In [24]:
Data['Revenue'].sum()

15002484.56

### 3) Discounted Revenu

In [82]:
Data['Discount'] = Data['Discount'] / 100
Data['Discounted_Revenue']=( Data.Revenue * (1-Data.Discount)).round(1)
Data['Profit'] =( Data['Discounted_Revenue'] - Data['Marketing_Spend']).round(1)

Data

,Date,Product_Category,Price,Discount,Customer_Segment,Marketing_Spend,Units_Sold,Revenue,Discounted_Revenue,Profit
0,2023-01-01,Sports,932.80,3.582000e-05,Occasional,6780.38,32,29849.60,29848.5,23068.1
1,2023-02-01,Toys,569.48,3.600000e-06,Premium,6807.56,16,9111.68,9111.6,2304.0
2,2023-03-01,Home Decor,699.68,3.560000e-06,Premium,3793.91,27,18891.36,18891.3,15097.4
3,2023-04-01,Toys,923.27,6.100000e-07,Premium,9422.75,29,26774.83,26774.8,17352.0
4,2023-05-01,Toys,710.17,4.783000e-05,Premium,1756.83,17,12072.89,12072.3,10315.5
...,...,...,...,...,...,...,...,...,...,...
995,2025-09-22,Fashion,740.06,4.906000e-05,Regular,1890.83,34,25162.04,25160.8,23270.0
996,2025-09-23,Electronics,517.10,2.848000e-05,Premium,8011.66,21,10859.10,10858.8,2847.1
997,2025-09-24,Electronics,683.43,1.298000e-05,Occasional,3408.51,19,12985.17,12985.0,9576.5
998,2025-09-25,Sports,51.26,2.185000e-05,Occasional,7335.62,26,1332.76,1332.7,-6002.9
999,2025-09-26,Home Decor,93.94,2.968000e-05,Regular,4258.11,39,3663.66,3663.6,-594.5

#### Total Discounted Revenue is :

In [28]:
Discounted_Revenue = Data['Discounted_Revenue'].sum().round(1)
Discounted_Revenue

11238292.6

### 4) Discounted Revenue & Profit per Product Category

In [126]:
Dis_Rev_Profit_per_Product_Category = Data.groupby('Product_Category')[['Profit','Discounted_Revenue']].sum().reset_index()
Dis_Rev_Profit_per_Product_Category.sort_values(by=['Profit'], ascending=False)

  Product_Category     Profit  Discounted_Revenue
3           Sports  2223080.4           3201328.3
1          Fashion  2047141.1           2968096.0
4             Toys  2019958.9           3030507.0
0      Electronics  1958020.7           3022374.5
2       Home Decor  1841075.3           2779801.2

### 5) Discounted Revenue & Profit per Product Category per Customer Segment

In [166]:
Dis_Rev_Profit_per_Product_Category_Customer_Segment= Data.groupby(['Product_Category','Customer_Segment'])[['Profit','Discounted_Revenue']].sum().reset_index()
Dis_Rev_Profit_per_Product_Category_Customer_Segment.sort_values(by=['Product_Category', 'Profit'], ascending=False)

   Product_Category Customer_Segment    Profit  Discounted_Revenue
14             Toys          Regular  674408.7            964237.5
13             Toys          Premium  674323.5           1001611.3
12             Toys       Occasional  671226.7           1064658.2
10           Sports          Premium  776082.8           1095368.5
9            Sports       Occasional  738545.9           1004006.5
11           Sports          Regular  708451.7           1101953.3
6        Home Decor       Occasional  745624.9           1092803.7
8        Home Decor          Regular  603695.0            909714.3
7        Home Decor          Premium  491755.4            777283.2
3           Fashion       Occasional  819737.9           1133753.5
4           Fashion          Premium  623250.2            915435.7
5           Fashion          Regular  604153.0            918906.8
2       Electronics          Regular  784830.5           1201453.3
0       Electronics       Occasional  621776.9            956794.8
1       Electronics          Premium  551413.3            864126.4

### 3) Profit per Product Category

### 3) Profit per Product Category

### 3) KPIs :

#### Gross Profit is :

In [68]:
Gross_Profit= Data['Profit'].sum().round(1)
Gross_Profit

6325462.8

#### Gross Margin is :

In [76]:
Gross_margin=(Gross_Profit/Discounted_Revenue).round(2)
Gross_margin

0.56

#### Average Order Value (AOV)

In [78]:
AOV=(Discounted_Revenue/Data['Units_Sold'].sum()).round(1)
AOV

379.3

## ii) Marketing Performance Analysis

### 1) Sales per Marketing Dirham

## iii) Customer and Segmentation Analysis

### 1) Discounted_Revenue & Profit per Customer Segment

In [181]:
Dis_Rev_Profit_per_Customer_Segment = Data.groupby('Customer_Segment')[['Profit','Discounted_Revenue']].sum().reset_index()
Dis_Rev_Profit_per_Customer_Segment.sort_values(by=['Profit'], ascending=False)

  Customer_Segment     Profit  Discounted_Revenue
0       Occasional  3596912.3           5252016.7
2          Regular  3375538.9           5096265.2
1          Premium  3116825.2           4653825.1

### 2) Discounted_Revenue & Profit per Customer Segment per Product Category

In [156]:
Dis_Rev_Profit_per_Customer_Segment_Product_Category = Data.groupby(['Customer_Segment','Product_Category'])[['Profit','Discounted_Revenue']].sum().reset_index()
Dis_Rev_Profit_per_Customer_Segment_Product_Category.sort_values(by=['Customer_Segment', 'Profit'], ascending=False)

   Customer_Segment Product_Category    Profit  Discounted_Revenue
10          Regular      Electronics  784830.5           1201453.3
13          Regular           Sports  708451.7           1101953.3
14          Regular             Toys  674408.7            964237.5
11          Regular          Fashion  604153.0            918906.8
12          Regular       Home Decor  603695.0            909714.3
8           Premium           Sports  776082.8           1095368.5
9           Premium             Toys  674323.5           1001611.3
6           Premium          Fashion  623250.2            915435.7
5           Premium      Electronics  551413.3            864126.4
7           Premium       Home Decor  491755.4            777283.2
1        Occasional          Fashion  819737.9           1133753.5
2        Occasional       Home Decor  745624.9           1092803.7
3        Occasional           Sports  738545.9           1004006.5
4        Occasional             Toys  671226.7           1064658.2
0        Occasional      Electronics  621776.9            956794.8

## iv) Pricing and Discount Analysis

## v) Profitability Analysis

### 2) Dispertion

### 3) Concentration

## ii) Sales prediction